<app-my-header name="Лабораторна робота №3"></app-my-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <h1>Завдання</h1>
      <p>
        Розробити сервіс для табулювання функції відповідно до варіанту. Розробити сервіс для розрахунку значень функції за допомогою ряду відповідно до варіанту. Розробити сервіс для розрахунку значень функції за допомогою рекурсії відповідно до варіанту. Розробити сервіс для логування обчислених значень у консоль та використати його у попередніх трьох сервісах. У основному застосунку підключити сервіси, вивести результати усіх розрахунків та побудувати графіки для усіх обрахунків
      </p>
      <div class="img_formula">
        <img src="assets/img/image.png" alt="Опис зображення">
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input
          label="Xn"
          labelPlacement="stacked"
          type="number"
          #InputXn
          value="-0.5"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Xk"
          labelPlacement="stacked"
          type="number"
          #InputXk
          value="0.5"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="h"
          labelPlacement="stacked"
          type="number"
          #InputH
          value="0.1"
        >
        </ion-input>
      </ion-item>
      <ion-button (click)="ras(InputXn.value, InputXk.value, InputH.value)">
        Calculate
      </ion-button>
      <ion-card>
        <ion-card-title>
          <h1>Results:</h1>
        </ion-card-title>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let item of xyInput ; index as i">
              <ion-label>
                <h5>{{ xx[i] }}</h5>
                <h5>{{ item }}</h5>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  <canvas #lineCanvas></canvas>
</ion-content>
