<app-my-header name="Лабораторна робота №3"></app-my-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-header>
      <ion-card-title>Завдання</ion-card-title>
    </ion-header>
    <ion-card-content>
      <p>
        Знайти найпотужніший прилад
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Результат
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let machine of machines" [style.--background]="getColor(machine.power)">
        {{machine.displayInfo()}}
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
