<app-my-header name="Лабораторна робота №6"></app-my-header>
<ion-content [fullscreen]="true">
<ion-button (click)="addFormShow()">
  Add travel
</ion-button>
<app-add-product
  *ngIf="showAddForm"
  (travelAdd)="addProduct($event)"
>
</app-add-product>
<ion-item>
  <ion-button (click)="nextType()">
    Next Type
  </ion-button>
  <ion-label> Current Type </ion-label>
  <ion-label> {{ type }} </ion-label>
</ion-item>

<ion-card  *ngFor="let travel of travelService.searchTravel; index as i" >
  <ion-card-header>
    <ion-card-title>{{ travel.getName() }}</ion-card-title>
    <ion-card-subtitle>{{ travel.getTravelType() }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item> <ion-label>Destination: {{ travel.getCountry() }}</ion-label></ion-item>
    <ion-item><p>Price: {{ travel.getPrice() }}$</p></ion-item>
    <ion-item><p>Duration: {{ travel.getDayLength() }} days</p></ion-item>
    <ion-item><p>Description: {{ travel.getDescription() }}</p></ion-item>
    <ion-item *ngFor ="let details of travel.getDetails()">
      <ion-label>{{details}}</ion-label>
    </ion-item>
  </ion-card-content>
  <ion-button (click)="editFormShow(i)">
    Edit 
  </ion-button>

  <app-edit-product
  *ngIf="showEditForm && i == editFormNumber"
  (travelEdit)="editProduct($event, i)"
  [travel] = "travel">
  </app-edit-product>
</ion-card>

</ion-content>